PORT=5050
FRONTEND_ORIGIN=http://localhost:5173
KENTRO_CHAT_MODEL=local-scaffold
KENTRO_ENABLE_GOVERNANCE_HOOK=false
KENTRO_ENABLE_DATABRICKS_JOB_BACKEND=false
DATABRICKS_HOST=
DATABRICKS_TOKEN=
KENTRO_DATABRICKS_JOB_ID=
KENTRO_SQL_WAREHOUSE_ID=
KENTRO_GOVERNANCE_TABLE=wvu.ethanhall.kentroxai_governance_runs
KENTRO_JOB_POLL_INTERVAL_MS=3000
KENTRO_JOB_TIMEOUT_MS=120000
KENTRO_CLI_BIN=tat
KENTRO_CLI_ARGS=
KENTRO_CONFIG_PATH=../../../config.yaml
KENTRO_CONTEXT_FILE=
