KENTRO_ENABLE_DATABRICKS_JOB_BACKEND=false
DATABRICKS_HOST=
DATABRICKS_CLIENT_ID=
DATABRICKS_CLIENT_SECRET=
KENTRO_DATABRICKS_JOB_ID=
KENTRO_SQL_WAREHOUSE_ID=
KENTRO_GOVERNANCE_TABLE=wvu.ethanhall.kentroxai_governance_runs
KENTRO_JOB_POLL_INTERVAL_MS=3000
KENTRO_JOB_TIMEOUT_MS=120000
